<% f.object.finish_year = 2011 if f.object.finish_year.blank? %>
<tr class="fields">
	<!--<td>
		<%= f.label :local_id, 'Local' %><br />
		<%= f.collection_select :local_id, Local.all, :id, :short_name, :include_blank => true %>
	</td>-->
	<td>
		<%= f.hidden_field :local_id, :value => @local.id %>
	  <%= f.label :category, 'Category' %><br />
	  <%= f.collection_select :category_id, Category.all, :id, :name %>
	</td>
	<td>
	  <%= f.label :start, 'Admit date' %><br />
	  <%= f.date_select :start, { :start_year => 1900, :end_year => Time.now.year, :order => [:month, :day, :year] } %>
	</td>
	<td>
	  <%= f.label :stop_quarter, 'Paid through' %><br />
	  <%= f.collection_select :finish_quarter, Quarter.all, :quarter, :title %>
	</td>
	<td><%= f.text_field :finish_year, :size => 4 %></td>
	<td><%= button_to_remove_fields f %></td>
</li>
