<div id="sidebar">
	<ul>
		<li><%= link_to 'New Local', new_local_path %></li>
	</ul>
</div>
<div id="content">
  <div id="header">
    <h1>AFM Membership Framework></h1>
		<p id="breadcrumbs"><%= link_to 'Home', root_path %> &rarr; Locals</p>
  </div>
	<h2>AFM Locals</h2>
	<p><%= will_paginate @locals %></p>
	<table class="listing">
	  <tr>
			<th>&nbsp;</th>
			<th>City</th>
	    <th>Name</th>
	    <th>Email</th>
	    <th>Website</th>
	    <th>Phone (primary)</th>  
	  </tr>

	<% @locals.each do |local| %>
	  <tr>
			<td><%=h local.number %></td>
	    <td><%=h local.city_state_title %></td>
			<td><%=h local.name %></td>
	    <td><%= email_shortner(local.email) %></td>
	    <td><%=h local.website %></td>
	    <td><%=h local.phone_primary %></td>
	    
	    <td><%= link_to 'Show', local %></td>
	    <td><%= link_to 'Edit', edit_local_path(local) %></td>
	  </tr>
	<% end %>
	</table>
	<p><%= will_paginate @locals %></p>
</div>

