<p>
  <b>Name:</b>
  <%=h @local.name %>
</p>

<p>
  <b>Number:</b>
  <%=h @local.number %>
</p>

<p>
  <b>Chartered:</b>
  <%=h @local.chartered %>
</p>

<p>
  <b>Jurisdiction:</b>
  <%=h @local.jurisdiction %>
</p>

<p>
  <b>Website:</b>
  <%=h @local.website %>
</p>

<p>
  <b>Email:</b>
  <%=h @local.email %>
</p>

<p>
  <b>Address:</b>
  <%=h @local.address %>
</p>

<p>
  <b>City:</b>
  <%=h @local.city %>
</p>

<p>
  <b>State province:</b>
  <%=h @local.state_province %>
</p>

<p>
  <b>Postal code:</b>
  <%=h @local.postal_code %>
</p>

<p>
  <b>Country code:</b>
  <%=h @local.country_code %>
</p>

<p>
  <b>Phone primary:</b>
  <%=h @local.phone_primary %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @local.phone2 %>
</p>

<p>
  <b>Phone3:</b>
  <%=h @local.phone3 %>
</p>

<p>
  <b>Email:</b>
  <%=h @local.email %>
</p>

<p>
  <b>Website:</b>
  <%=h @local.website %>
</p>

<p>
  <b>City state title:</b>
  <%=h @local.city_state_title %>
</p>


<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>