<p>
  <b>Name:</b>
  <%=h @state_province.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%=h @state_province.abbreviation %>
</p>

<p>
  <b>Country:</b>
  <%=h @state_province.country_id %>
</p>


<%= link_to 'Edit', edit_state_province_path(@state_province) %> |
<%= link_to 'Back', state_provinces_path %>