<p>
  <%= f.label :email %><br />
  <%= f.text_field :email, :size => 35 %>
</p>
<p>
	<%= f.label :url, "Website URL <small>(<em>ex. http://afm.org</em></small>)" %><br />
	<%= f.text_field :url %>
<p class="multifield">
	<%= f.label :phone_cell,"Cell phone" %><br />
  <%= f.text_field(:phone_cell, :size => 20, :value => number_to_phone(f.object.phone_cell, :area_code => true, :extension => f.object.phone_cell_ext)) %><br />
	<%= f.radio_button :primary_phone_choice, 0 %> <small>set as primary</small>
</p>
<p class="multifield">
  <%= f.label :phone_home,"Home phone" %><br />
  <%= f.text_field(:phone_home, :size => 20, :value => number_to_phone(f.object.phone_home, :area_code => true, :extension => f.object.phone_home_ext)) %><br />
	<%= f.radio_button :primary_phone_choice, 1 %> <small>set as primary</small>
</p>
<p class="multifield">
	<%= f.label :phone_work,"Work phone" %><br />
  <%= f.text_field(:phone_work, :size => 20, :value => number_to_phone(f.object.phone_work, :area_code => true, :extension => f.object.phone_work_ext)) %><br />
	<%= f.radio_button :primary_phone_choice, 2 %> <small>set as primary</small>
</p>
<p style="padding-top: 1em" class="multibreak">
  <%= f.label :address, 'Street address' %><br />
  <%= f.text_field :address, :size => 35 %>
</p>
<p class="multifield">
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</p>
<p class="multifield">
  <%= f.label :state_province_id, 'State / Province' %><br />
  <%= f.select :state_province_id, StateProvince.all.collect {|s| [ s.name, s.id ] }, :include_blank => true %>
</p>
<p class="multifield">
  <%= f.label :postal_code %><br />
  <%= f.text_field :postal_code, :size => 10 %>
</p>

<p class="multibreak">
  <%= f.label :country_id,'Country' %><br />
  <%= f.select :country_id, Country.all.collect {|c| [ c.name, c.id ] }, :include_blank => true %>
</p>