<%- content_for(:head) do -%>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<%= javascript_include_tag 'jquery-ui' -%>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#tabz').tabs();
			$('#instrument_list').sortable({
	      axis: 'y', 
	      opacity: 0.4,
	      scroll: true,
				update: function(){
					x = 0;
					$('#instrument_list').children('li').each(function(index) {
						$(this).children('input[type=hidden].sort').val(x)
						x++;
					});
	      }
	  	});
		});
	</script>
<%- end -%>
<p style="color: green"><%= flash[:notice] %></p>
<% form_for(@musician) do |f| %>
  <%= f.error_messages %>
	<div id="tabz">
		<ul>
	      <li><a href="#general"><span>General</span></a></li>
	      <li><a href="#contact"><span>Contact Info</span></a></li>
				<li><a href="#music"><span>Music</span></a></li>
				<li><a href="#membership"><span>Membership</span></a></li>
	  </ul>
  
		<div id="general">
			<a name="general"></a>
			<h3>General</h3>
			<%= render 'general', :f => f %>
		</div>
		<div id="contact">
			<a name="contact"></a>
			<h3>Contact Info</h3>
			<%= render 'contact', :f => f %>
		</div>
		<div id="music">
			<a name="music"></a>
			<h3>Music</h3>
			<%= render 'music', :f => f %>
		</div>
		<div id="membership">
			<a name="membership"></a>
			<h3>Membership</h3>
			<%= render 'membership', :f => f %>
		</div>
	</div>
  <p>
    <%= f.submit form_action %>
  </p>
<% end %>