<div id="sidebar">
	<h2>Maintenance</h2>
	<ul>
		<li><%= link_to 'Add musician', new_musician_path %></li>
	</ul>
</div>
<div id="content">
  <div id="header">
    <h1>AFM Membership Framework</h1>
		<p id="breadcrumbs"><%= link_to 'Home', root_path %> &rarr; Musicians</p>
  </div>
  <h1>Musicians</h1>
	<table class="listing">
	  <tr>
	    <th>Lastname</th>
			<th>Firstname</th>
	    <th>Birthdate</th>
	 		<th>City</th
	    <th>Email</th>
			<th>Phone</th>
	  </tr>

		<% @musicians.each do |musician| %>
		  <tr>
				<td><%=h musician.lastname %></td>
		    <td><%=h musician.firstname %> <%=h musician.mi %></td>
		    <td><%=h musician.birthdate %></td>
				<td><%=h musician.city %>, <%=h musician.state_province.abbreviation %></td>
		    <td><%= email_shortner(musician.email) %></td>
		 		<td><%= number_to_phone(musician.phone, :area_code => true, :extension => musician.phone_ext) %></td>
		    <td><%= link_to 'Edit', edit_musician_path(musician) %></td>
		  </tr>
		<% end %>
	</table>
	<p><%= will_paginate @posts %></p>
</div>


