<p>
  <b>Ssn:</b>
  <%=h @musician.ssn %>
</p>

<p>
  <b>Birthdate:</b>
  <%=h @musician.birthdate %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @musician.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @musician.lastname %>
</p>

<p>
  <b>Mi:</b>
  <%=h @musician.mi %>
</p>

<p>
  <b>Email:</b>
  <%=h @musician.email %>
</p>

<p>
  <b>Phone home:</b>
  <%=h @musician.phone_home %>
</p>

<p>
  <b>Phone cell:</b>
  <%=h @musician.phone_cell %>
</p>

<p>
  <b>Phone work:</b>
  <%=h @musician.phone_work %>
</p>

<p>
  <b>Address:</b>
  <%=h @musician.address %>
</p>

<p>
  <b>City:</b>
  <%=h @musician.city %>
</p>

<p>
  <b>State province:</b>
  <%=h @musician.state_province %>
</p>

<p>
  <b>Postal code:</b>
  <%=h @musician.postal_code %>
</p>



<%= link_to 'Edit', edit_musician_path(@musician) %> |
<%= link_to 'Back', musicians_path %>