<div id="sidebar">
	<h2>Maintenance</h2>
		<ul>
			<li><%= link_to 'Instruments', instruments_path %></li>
			<li><%= link_to 'Countries', countries_path %></li>
			<li><%= link_to 'States / Provinces', state_provinces_path %></li>
			<li><%= link_to 'Statuses', statuses_path %></li>
			<li><%= link_to 'Categories', categories_path %></li>
		</ul>
</div>
<div id="content">
  <div id="header">
    <h1>AFM Membership Framework</h1>
  </div>
  <div id="getting-started">
    <h2>Common Tasks</h2>
    <ul>
			<li><%= link_to 'Musicians', musicians_path %></li>
			<li><%= link_to 'Locals', locals_path %></li>
		</ul>
  </div>
</div>
 