<h1>Listing constants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Thevalue</th>
  </tr>

<% @constants.each do |constant| %>
  <tr>
    <td><%=h constant.name %></td>
    <td><%=h constant.thevalue %></td>
    <td><%= link_to 'Show', constant %></td>
    <td><%= link_to 'Edit', edit_constant_path(constant) %></td>
    <td><%= link_to 'Destroy', constant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New constant', new_constant_path %>